:root {
    --darkblue: #223843;
    --lightgraywhite: #eff1f3;
    --palepurplebrown: #dbd3d8;
    --paletan: #d8b4a0;
    --lightbrick: #d77a61;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

header {
    text-align: center;
    background-color: var(--darkblue);
    color: var(--palepurplebrown);
    padding: 2px;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 25px;
    font-weight: normal;
}

.timeNow {
    font-size: 25px;
}

.sidebar {
    margin: 10px;
    padding: 10px;
    width: 350px;
    background-color: var(--lightgraywhite);
    position: absolute;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    line-height: 40px;
}

main {
    margin: 10px;
    padding: 10px;
    margin-left: 400px;
    padding: 2px 16px;
    height: 1000px;
    border-radius: 5px;
    background-color: var(--paletan);
}

input {
    border-radius: 7px;
}

button,
input {
    width: 330px;
}

button {
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    background-color: var(--lightbrick);
    transition: 0.5s;
}

/* Media screens! */
@media screen and (max-width: 992px) {
    h1 {
        background-color: var(--lightbrick);
        color: var(--lightgraywhite)
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    h1 {
      background-color: var(--lightgraywhite);
      color: var(--darkblue);
    }
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    h1 {
      background-color: var(--palepurplebrown);
      color: var(--lightbrick);
    }
  }