:root {
    --darkblue: #223843;
    --lightgraywhite: #eff1f3;
    --palepurplebrown: #dbd3d8;
    --paletan: #d8b4a0;
    --lightbrick: #d77a61;
}

* {
    background-color: var(--paletan);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: var(--darkblue);
    color: var(--palepurplebrown);
    font-family: 'Dancing Script', cursive;
}

.sidebar {
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: var(--lightgraywhite);
    position: fixed;
    height: 80%;
    overflow: auto;
    border-radius: 5px;
  }

main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

input {
    border-radius: 7px;
}

#citySearchButton {
    border-radius: 20px;
 }

/* Media screens! */
@media screen and (max-width: 992px) {
    h1 {
        background-color: var(--lightbrick);
        color: var(--lightgraywhite)
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    h1 {
      background-color: var(--lightgraywhite);
      color: var(--darkblue);
    }
  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    h1 {
      background-color: var(--palepurplebrown);
      color: var(--lightbrick);
    }
  }